.Container {
    padding: 10px 50px;
    margin: 0;
}

.Container>h2 {
    margin: 0;
}

.Container>div {
    display: flex;
    padding: 20px 0;
    gap: 20px;
}

.Container>div>h2 {
    margin: 0;
}

.Container>div>button {
    padding: 10px 20px 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: white;
    border: 2px solid rgb(73, 85, 117);
}

.Container>div>button:hover {
    background-color: rgb(73, 85, 117);
    color: white;
}

.ActiveItem,
.Item {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0 5px;
}

.ActiveItem {
    margin-bottom: 20px;
    background-color: rgb(73, 85, 117);
    color: white
}

.ActiveItem>section {
    border-right: 1px solid black;
    padding: 5px 10px 10px 10px;
    text-align: center;
}

.Item {
    margin: 15px 0;
    background-color: rgba(73, 85, 117, 0.8);
    color: white
}

.Item>section {
    border-right: 1px solid black;
    padding: 5px 10px 10px 10px;
    text-align: center;
}

.Item>div {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.Item>div>button {
    padding: 5px 10px 4px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: white;
    border: 2px solid #af4c4c;
}

.Item>div>button:hover {
    background-color: #af4c4c;
    color: white;
}