.Container {
    padding: 15px 30px;
}

.Container>h2 {
    margin: 0;
}

.Container>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 20px;
    justify-items: center;
    padding-left: 0;
}