.Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(162, 180, 230);
    background: linear-gradient(0deg, rgba(106, 128, 187, 0.5) 0%, rgba(255, 255, 255, 0.8) 100%);
    border: 3px solid rgb(73, 85, 117);
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 30px 20px 30px;
}

.Level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Level>div {
    display: flex;
    gap: 40px;
}

.Level>div>button {
    padding: 10px 20px 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: white;
}

.Level>div>button:hover {
    color: white;
}

.EasyButton {
    border: 2px solid #78e6fa;
}

.EasyButton:hover {
    background-color: #78e6fa;
}

.MiddleButton {
    border: 2px solid #7896fa;
}

.MiddleButton:hover {
    background-color: #7896fa;
}

.HardButton {
    border: 2px solid #9564de;
}

.HardButton:hover {
    background-color: #9564de;
}

.QuestionImage {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    border: 3px solid rgb(73, 85, 117);
}

.QuestionImage>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ListImage {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
}

.ListImage>li {
    width: 150px;
    height: 120px;
    border: 3px solid rgb(73, 85, 117);
}

.ListImage>li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.List {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.List>li {
    border: 3px solid rgb(73, 85, 117);
    border-radius: 15px;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.List>li:hover,
.ListImage>li:hover {
    cursor: var(--hover-cursor) !important;
}

.HoverItem,
.HoverItemImage {
    transition-duration: 0.3s;
}

.HoverItem:hover {
    background-color: aquamarine;
}

.HoverItemImage:hover {
    transform: scale(1.1);
}

.Next,
.Finish,
.Link {
    display: flex;
    justify-content: center;
}

.Next>button,
.Finish>button {
    padding: 10px 20px 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: white;
}

.Next>button {
    border: 2px solid rgb(73, 85, 117);
}

.Next>button:hover,
.Link>a:hover {
    background-color: rgb(73, 85, 117);
    color: white;
}

.Finish>button {
    border: 2px solid #4CAF50;
}

.Finish>button:hover {
    background-color: #4CAF50;
    color: white;
}

.Link>a {
    padding: 8px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: white;
    border: 2px solid rgb(73, 85, 117);
    text-decoration: none;
    color: black;
    margin-top: 10px;
}