.Header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(73, 85, 117);
}

.Header>nav {
    padding: 15px 30px;
    display: flex;
    gap: 20px;
}

.Header>nav>a {
    font-size: 35px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
    border: solid rgb(73, 85, 117);
}

@media screen and (min-width: 501px) {
    .Header>nav>a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 500px) {
    .Header>nav {
        padding: 15px 20px;
        gap: 10px;
    }

    .Header>nav>a {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .Header>nav {
        padding: 15px 10px;
        gap: 7px;
    }

    .Header>nav>a {
        font-size: 16px;
    }
}